@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.bodyContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #7d2ae8; */
  background-image: url(image2.jfif);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 30px;
}
input[type="checkbox"] {
  visibility: hidden;
}
.checked {
  visibility: hidden;
}
.wrongDetails {
  color: red;
  padding-top: 5px;
}
.none {
  display: none;
}
.container {
  min-width: 950px;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  perspective: 2800px;
  margin: 0 200px;
}
.container .cover {
  position: absolute;
  height: 100%;
  width: 50%;
  /* background: red; */
  /* opacity: 0.5; */
  top: 0;
  right: 0;
  z-index: 100;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.container .cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #27212e;
}
.container .cover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #27212e;
  opacity: 0;
  z-index: 100;
  transform: rotateY(180deg);
}
.container .cover img {
  transform: rotateY(0);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 12;
  object-fit: cover;
  backface-visibility: hidden;
}
.container .cover .back .backImg {
  background-color: #5b13b9;
  transform: rotateY(180deg);
  z-index: 200;
}
.container .cover .text {
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
}
#visible {
  z-index: 15;
  opacity: 0.5;
}
#hiddenImg {
  opacity: 0;
}
.cover .text .text-1,
.cover .text .text-2 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  backface-visibility: hidden;
}
.cover .back .text .text-1,
.cover .back .text .text-2 {
  transform: rotateY(180deg);
}

.cover .text .text-2 {
  font-weight: 400;
  font-size: 15px;
}
.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.container form {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.container .form-content {
  /* height: 500px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  /* justify-content: space-evenly; */
}

.form-content .signup-form {
  margin-left: 40px;
}
.form-content form .text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  /* background-color: #5b13b9; */
}
.form-content form .forgot {
  margin: 5px;
}
.form-content form .text a {
  text-decoration: none;
  cursor: pointer;
  color: #5b13b9;
}
.form-content form .text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-content form .text a label:hover {
  text-decoration: underline;
}
.form-content form .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.form-content form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 22px;
  background-color: #7d2ae8;
}

.form-content form .input-boxes {
  margin: 30px;
}

.form-content .input-box {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  height: 50px;
  width: 100%;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
  /* margin: 0 10px; */
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus {
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
  border-color: #7d2ae8;
}

.form-content .input-box i {
  color: #7d2ae8;
  font-size: 15px;
}

.form-content form .input-boxes .submit input {
  width: 100%;
  background-color: #7d2ae8;
  padding: 10px;
  margin: 20px 0;
  border: none;
  /* font-size: rem; */
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.form-content form .input-boxes .submit input:hover {
  background-color: #5b13b9;
}

.form-content form .login-text,
.form-content form .sign-up-text {
  text-align: center;
}
